<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="<%=base%>/sass/global.css">
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
</head>

<body>
    <nav>
        <label id="hmbgr" for="hmbgr-input">
            <hr />
            <hr />
            <hr />
        </label>
        <div id="mainHeading">
            <%= typeof(h1)=="undefined" ? "Apps" :h1 %>
        </div>
    </nav>
    <input id="hmbgr-input" type="checkbox" class="hidden" />
    
    <div id="side-panel">
        <%- include(viewDir + "/ui/spi.ejs" , { href:"#", icon:"home", text:"Item", id:"spi-1", checked:1}) %>
        <%- include(viewDir + "/ui/spi.ejs" , { href:"#", icon:"home", text:"Item", id:"spi-2"}) %>
        <%- include(viewDir + "/ui/spi.ejs" , { href:"#", icon:"home", text:"Item", id:"spi-3"}) %>

    </div>
    <label for="hmbgr-input" id="sp-bg"></label>
    
    <main>
        <%- include(body, {...options}) %>
    </main>
</body>
<script>
    (() => {
        function setH() {
            let h = window.innerHeight + "px";
            let w = window.innerWidth + "px";
            document.documentElement.style.setProperty("--innerH", h);
            document.documentElement.style.setProperty("--innerW", w);
        }
        setH();
        window.onresize = setH;
        window.base = "<%=base%>"
    })();
</script>
<script src="<%=base%>/js/main.js" type="module"></script>
</html>