<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> 
    </title>
    <link rel="stylesheet" href="/sass/global.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
</head>

<body spa="loaded">
    <nav>
        <label id="hmbgr" for="hmbgr-input">
            <hr />
            <hr />
            <hr />
        </label>
        <div id="mainHeading">
            <%= typeof(h1)=="undefined" ? "Apps" :h1 %>
        </div>
    </nav>
    <input id="hmbgr-input" type="checkbox" class="hidden" />
    
    <div id="side-panel">
        <div id='sp-body'>
            <%- include(viewDir + "/ui/spi.ejs" , { href: "/", icon:"home", text:"Home", id:"spi-1", active: title == "Appz"}) %>
            <%- include(viewDir + "/ui/spi.ejs" , { href: "/crypto", icon:"key", text:"crypto api", id:"spi-1", active: title == "Crypto Web API"}) %>
        </div>
        <div id="sp-footer">
            <%- include(viewDir + "/ui/spi.ejs" , { href: "/about", icon:"about", text:"About", id:"spi-2",active : title == "About"}) %>
            <%- include(viewDir + "/ui/spi.ejs" , { href: "/settings", icon:"settings", text:"Settings", id:"spi-3" , active: title == "Settings"}) %>
        </div>
    </div>
    <label for="hmbgr-input" id="sp-bg"></label>
    
    <main>
        <%- include(body, {...options}) %>
    </main>
</body>
<script>
    (() => {
    	let meta = document.querySelector("meta[name=viewport]");
    	let lastCall = 0;
        function setH() {
            let h = window.innerHeight + "px";
            let w = window.innerWidth + "px";
            document.documentElement.style.setProperty("--innerH", h);
       //     document.documentElement.style.setProperty("--innerW", w);
       //     let timeout = 200;
     //       performance.now() - lastCall > timeout && setTimeout(setH, timeout);
      //      lastCall = performance.now();
     // requestAnimationFrame(setH)
        }
        requestAnimationFrame(setH)
        window.onresize = setH;
  		
    })();
</script>
<script src="/js/main.js" type="module"></script>
</html>