<a class="index-item" href="<%= href %>" spa-link >
	<div class="index-item-logo">
		<img alt="<%= name %>" height="25" width="25" loading="lazy" src="<%=base%>/imgs/icons/<%= icon %>.svg" />
	</div>
	<div class='index-item-name'><%= name %></div>
</a>