<div class="side-panel-item">
  <input class="hidden" id="<%= id %>" name="spi" type='radio'
  <% if(typeof checked !="undefined" && Boolean(checked)) {
    %>checked<% } %> >
  <a href="<%= href %>" spa-link>
    <label for="<%=id%>">
      <img src="<%=base%>/imgs/icons/<%= icon %>.svg" />
      <span>
        <%= text %>
      </span>
    </label>
  </a>
</div>