<div class="side-panel-item">
  <a href="<%= href %>" id="<%= typeof id!=='undefined'?id:'' %>" spa-link active="<%=active%>" class="side-panel-item-a">
      <img alt="side panel icon" height="25" width="25" loading="lazy" src="<%=base%>/imgs/icons/<%= icon %>.svg" />
      <span>
        <%= text %>
      </span>
  </a>
</div>